.elementor-246 .elementor-element.elementor-element-9cfbe68 img {
    max-width: 100px !important;
}
img.herimgg {
    border-radius: 10px;
}

.elementor-element.elementor-element-4657984.e-flex.e-con-boxed.e-con {
    display: none;
}

.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
    border: none !important;
}   
h4.elementor-heading-title.elementor-size-default.ccc {
    color: white !important;
    padding-bottom: 15px;
    padding-top: 10px;
}

h4.elementor-heading-title.elementor-size-default.mmt {
    padding-top: 14px;
}

.elementor-element.elementor-element-a1e3f08.elementor-widget.elementor-widget-heading h4.elementor-heading-title.elementor-size-default {
    font-size: 12px !IMPORTANT;
}